img {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 30px;
  object-fit:contain;

}


.akryl-flexbox {
    display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
 width: 100%;
    background-color: rgb(167, 160, 180);
    border: 1px solid black;

}
   


.akvarell-flexbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
   width: 100%;
    background-color: rgb(196, 190, 190);
    border: 1px solid black;


}

.akryl, .akvarell{
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 800px;
    margin: 30px;   

}



.akvarell a, .akryl a{
   background-color: white;
   color: rgb(111, 19, 37);
   border: 1px solid white;
   width: 120px;
   text-align: center;
   border-radius: 30px;
}

a:hover {
    color: rgba(111, 19, 37, 0.307);
}

table{
   text-align: center;
    width: 800px;
    margin: 20px;

}
 .table{
    width: 100%;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(114, 114, 154);
 }

th, tr{
    background-color: white;
}

@media screen and (max-width: 500px){

    
.akryl, .akvarell{

    align-items: center;
    text-align: center;
}
.akryl img, .akvarell img {
    
    width: 100%; /* Gör bilden bredare på små skärmar */
    max-width: 400px;
}
table {
    max-width: 380px;
}

    
}